# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.example

# Logs
logs
*.log
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
*.gz
*.zip

# Build artifacts
dist/
out/
.next/
.cache/
.vscode/

# Dependency directories
.pnpm/
.bower_components/
jspm_packages/

# Editor and system files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Git-related files
.git/
.gitignore
